@use 'variables';
@use 'mixin';

body {
  color: variables.$color-dark;
}

/* Common */
.page-container {
  margin: 0 auto;
  max-width: 988px;
}

.btn-primary-custom {
  color: variables.$color-white;
  background-color: variables.$color-primary;
}

.btn-default-custom {
  color: variables.$color-dark;
  background-color: variables.$color-white;
}
