@use '../base';

#header {
  .nav {
    height: 70px;
  }

  .logo .img {
    width: 60px;
    height: 60px;
    fill: base.$color-primary;
  }

  .logo .text {
    color: base.$color-primary;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.8rem;
  }
}
